@{
    Layout = "";    
}

    <link rel="stylesheet" href="~/css/authorize.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RestaurantPOS.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/nalika-icon.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/js/vendor/modernizr-2.8.3.min.js" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/owl.carousel.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/owl.theme.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/owl.transitions.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/animate.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/normalize.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/meanmenu.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/morrisjs/morris.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/morrisjs/morris.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/scrollbar/jquery.mCustomScrollbar.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/metisMenu/metisMenu.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/metisMenu/metisMenu-vertical.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true" />
    <script src="~/js/vendor/modernizr-2.8.3.min.js" asp-append-version="true"></script>

<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
        <div class="contain col-md-4 col-md-4 col-sm-4 col-xs-12">
            <div>
                <img src="~/img/logo_rm.png" class="logo_login"/>
            </div>
            <div class="text-center m-b-md custom-login">
                <h3>SIGN IN TO ADMINISTRATION'S PAGE</h3>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    <form action="#" id="loginForm">
                        <div class="form-group">
                            <label class="control-label" for="username">Username</label>
                            <input type="text" placeholder="example@gmail.com" title="Please enter you username" required="" value="" name="username" id="username" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="password">Password</label>
                            <input type="password" title="Please enter your password" placeholder="******" required="" value="" name="password" id="password" class="form-control">
                        </div>
                        <div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="i-checks"> Remember me </label>
                        </div>
                        </div>
                        <button class="btn btn-block loginbtn">Login</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
    </div>
    @* <div class="row">
        <div class="col-md-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <p>Copyright © 2018 <a href="https://colorlib.com/wp/templates/">Colorlib</a> All rights reserved.</p>
        </div>
    </div> *@
</div>
<script src="~/js/site.js" ></script>
<script src="~/js/vendor/jquery-1.12.4.min.js" asp-append-version="true"></script>
<script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
<script src="~/js/wow.min.js" asp-append-version="true"></script>
<script src="~/js/jquery-price-slider.js" asp-append-version="true"></script>
<script src="~/js/jquery.meanmenu.js" asp-append-version="true"></script>
<script src="~/js/owl.carousel.min.js" asp-append-version="true"></script>
<script src="~/js/jquery.sticky.js" asp-append-version="true"></script>
<script src="~/js/jquery.scrollUp.min.js" asp-append-version="true"></script>
<script src="~/js/scrollbar/jquery.mCustomScrollbar.concat.min.js" asp-append-version="true"></script>
<script src="~/js/scrollbar/mCustomScrollbar-active.js" asp-append-version="true"></script>
<script src="~/js/metisMenu/metisMenu.min.js" asp-append-version="true"></script>
<script src="~/js/metisMenu/metisMenu-active.js" asp-append-version="true"></script>
<script src="~/js/plugins.js" asp-append-version="true"></script>
<script src="~/js/main.js" asp-append-version="true"></script>